@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext");
@import 'base/variables.scss';
* {
	font-family: $font-family_1;
}

body {
	margin: 0;
	padding: 0;
	font-size: 3vh;
}

.container {
	max-width: 70vw;
	margin: 0 auto;
}

@import 'blocks/header.scss';
@import 'blocks/contacts.scss';
@import 'blocks/main.scss';
@import 'blocks/catalog.scss';
@import 'blocks/services.scss';
@import 'blocks/heading.scss';
@import 'blocks/footer.scss';
@import 'media/media.scss';

