@media (max-width: 768px){
    .header{
        &__link-logo{
            font-size: 0.7em;
        }
    }
}

@media (max-width: 1200px) {
    .header{
        &__links{
            position: fixed;
            flex-direction: column;
            gap: 10vh;
            justify-content: center;
            align-items: center;
            top: -20%;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0,0,0, .8);
            transition: 0.6s all;
            &_active{
                left: 0;
            }
        }

        &__hamburger{
            display: block;
            margin-right: 5vw;
            top: 50%;
            transform: translateY(-50%);
            width: 52px;
            height: 12px;
            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 10px;
                transition: 0.5s all;
            }

            &_active{
                span {
                    margin-bottom: -2px ;
                    &:nth-child(1){
                        transform: translateY(3px) rotate(45deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        transform: translateY(3px) rotate(-45deg);
                    }
                }
            }
        }
    }
}