
@media (max-width: 768px){
    .main {
        min-height: 130vh;
        padding-bottom: 10vh;
    
        &__container{
            margin-top: 10vh;
        }
        
        &__background{
            width: 99,5vw;
            height: 100vh;
            &__title, &__title-2{
                font-weight: 700;
                font-size: 17vw;
                margin-top: 15vh;
                margin-left: 3vw;
            }
            &__title-2{
                margin-top: 200px;
            }
        }
        &__descr {
            text-align: center;
            font-size: 0.7em;
        }
    }
}

@media (min-width: 1479px) and (max-width: 2100px){
    .main {
        &__background{
            width: 99,5vw;
            height: 100vh;
            &__title, &__title-2{
                font-weight: 700;
                font-size: 15vw;
                margin-top: 15vh;
                margin-left: 3vw;
            }
            &__title-2{
                margin-top: 25vw;
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1479px){
    .main {
        &__background{
            &__title, &__title-2{
                font-weight: 700;
                font-size: 221px;
                margin-top: 15vh;
                margin-left: 3vw;
            }
            &__title-2{
                margin-top: 370px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px){
    .main {
        &__background{
            &__title, &__title-2{
                font-weight: 700;
                font-size: 17vw;
                margin-top: 15vh;
                margin-left: 3vw;
            }
            &__title-2{
                margin-top: 35vw;
            }
        }
    }
}