.apply{
    min-height: 70vh;
    margin-top: 20vh;
    padding-bottom: 15vh;

    &__descr{
        text-align: center;
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 45px;
    }
    
    &__empty_active{
        display: none;
    }

    &__form{
        width: 40vw;
        margin: 0 auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        border-color: #454545;
        margin-bottom: 40px;
    }

    &__title{
        margin: 0;
        text-align: center;
        margin-bottom: 30px;
    }

    &__label{
        display: block;
        margin-bottom: 8px;
        text-align: center;
    }

    &__input{
        height: 50px;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
        background-color: #cccccc;
        margin-bottom: 15px;
        border: none;
        padding: 0 20px;
        color: #4b4b4b;
        font-size: 14px;
        font-weight: 300;
    }

    &__item{
        box-shadow: 0px 0px 10px #454545;
        border-radius: 10px;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    &__button{
        width: 150px;
        height: 40px;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
        background-color: $background-color_1;
        border: none;
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.2s all;
        &:hover {
            background-color: #5b5b5b;
            box-shadow: 0px 0px 10px #454545;
        }

        &-del{
            margin: 0;
            margin-bottom: 20px;
        }

    }

    &__car-wrapper{
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 30px;
        width: 50%;
    }

    &__preloader{
        display: block;
        margin: 0 auto;   
    }

    &__lists{
        display: flex;
        justify-content: space-around;
    }
}

.car__style{
    font-size: 16px;
    box-shadow: 0px 0px 10px #454545;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}