.catalog{
    min-height: 70vh;
    margin-top: 20vh;
    padding-bottom: 15vh;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 20vw;
        text-align: center;
        box-sizing: border-box;
        padding: 20px;
        border: 0.5vh solid #e8e8e8;
        box-shadow: 0px 0px 10px #cfcfcf;
        border-radius: 15px;
        &-img{
            display: block;
            margin: 0 auto;
            width: 100%;
            height: 27vh;
            object-fit: cover;
            border-radius: 10px;

        }
        &-subtitle{
            margin-top: 2.7vh;
            color: #0d0d0d;
            font-size: 0.8em;
            text-align: left;
        }
        &-price{
            margin-top: 1.7vh;
            color: #0d0d0d;
            font-size: 0.9em;
            font-weight: 700;
            text-align: left;
        }
    }

    &__button{
        display: block;
        height: 8vh;
        width: 60%;
        margin-top: 5vh;
        font-size: 1em;
        background-color: $background-color_1;
        color: $color_1;
        padding: 1vh 2vw;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s all;
        &:hover {
            background-color: #5b5b5b;
            box-shadow: 0px 0px 20px #454545;
        }
    }
    
}

.swiper-pagination{
    position: static;
    
}