.services {
    min-height: 335px;
    margin-top: 150px;
    padding-bottom: 100px;
    &__table{
        display: grid;
        width: 100%;
        border-collapse: collapse;
        justify-content: center;
        
        th, td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
            text-align: center;
        }
        
        th {
            background-color: #f2f2f2;
        }
        
        tr:nth-child(even) {
            background-color: #ffffff;
        }
        
        tr:nth-child(odd) {
            background-color: #c7c7c7;
        }
    }
    &__subheader{
        font-weight: 700;
	    background-color: #929292;
    }
}